<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>insert_diet</title>
</head>

<body>

    <div>
      <h3>트래킹 삭제</h3>
      <form action="/delete_perform" method="POST">
          <label for="date">삭제할 날짜</label>
          <input type="text" class="form-control" placeholder="YYYY-MM-DD" name="date">
          <br>
          <button type="submit" class="btn btn-primary mt-3"> 삭제하기 </button>
      </form>
    </div>

  </body>

</html>
