<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>insert_diet</title>
</head>

<body>

    <div>
      <h3>트래킹 입력</h3>
      <form action="/insert_perform" method="POST">
          <label for="date">입력할 날짜</label>
          <input type="text" class="form-control" placeholder="YYYY-MM-DD" name="date">
          <br>
          <label for="weight">입력할 체중</label>
          <input type="text" class="form-control" placeholder="체중을 입력하세요" name="weight">kg
          <br>
          <button type="submit" class="btn btn-primary mt-3"> 입력하기 </button>
      </form>
    </div>

  </body>

</html>
